<div class='container-fluid-footer'>
    <div class="row">
        <div class="col-sm">
            <p>Sobre</p>
            <p>Missão</p>
            <p>Contato</p>
        </div>
        <div class="col-sm">
            <p>Trabalhe Conosco</p>
            <p>LinkedIN</p>
            <p>Facebook</p>
            <p>Twitter</p>
        </div>
        <div class="col-sm">
            <p>Darwin Watt.</p>
            <p>Gumball Watt.</p>
            <p>Ricardo W.</p>
        </div>
    </div>
</div>